body {
    background-color: black;
    color: white;
  }
  #skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #skills div {
    margin-right: 20px;
  }
  
  #skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #skills p {
    font-weight: bold;
    margin-right: 10px;
  }
  
  
  
